{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <div class="section">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Transacted</th>
                </tr>
            </thead>
            <body>
                {% for trade in user_transaction_history %}
                    <tr>
                        <td>{{ trade.stock_symbol }}</td>
                        <td>{{ trade.nr_stocks }}</td>
                        <td>{{ trade.price | usd }}</td>
                        <td>{{ trade.timestamp }}</td>
                    </tr>

                {% endfor %}
            </body>
        </table>
    </div>

{% endblock %}